<h1><%= @product.title %></h1>
by <%= @product.user.first_name %> <%= @product.user.last_name %><br>
Price: <%= number_to_currency(@product.price) %>
<p><%= @product.description %><br><br>
Category: <%= @product.category.name %><br>
Tags: <%=  @product.tags.map(&:name).join(', ')%><br>
Views: <%= @product.hit_count %></p>

<% if user_signed_in? %>
  <% if can? :manage_product, @product %>
  <%= link_to 'edit', edit_product_path(@product)%>
  <%= link_to 'delete', product_path(@product),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}%>
  <% end %>
  <% if can? :favorite, @product %>
    <% if @favorite.present? %>
      <%= link_to 'unfavorite', favorite_path(@favorite), method: :delete %>
    <% else %>
      <%= link_to 'favorite', product_favorites_path(@product), method: :post%>
    <% end %>
  <% end %>
<% end %>
<hr>
<% if can? :review, @product %>
  <h2>Write a Review</h2>
  <div id="review-form">
    <%= render 'reviews/form' %>
  </div>
<% end %>
<h2>Reviews</h2>
<div id="reviews">
  <% @product.reviews.each do |review| %>
    <%= render 'reviews/review', {rev: review} %>
  <% end %>
</div>
