<h1><%= @product.title %></h1>
<p><%= number_to_currency(@product.price) %></p>
<p>Category: <%= @product.category.name %></p>
<p>by <%= @product.user.first_name %> <%= @product.user.last_name %>
<p><%= @product.description %></p>
<p>Views: <%= @product.hit_count %></p>

<% if user_signed_in? %>
  <% if can? :manage_product, @product %>
  <%= link_to 'edit', edit_product_path(@product)%>
  <%= link_to 'delete', product_path(@product),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}%>
  <% end %>
  <% if can? :favorite, @product %>
    <% if @favorite.present? %>
      <%= link_to 'unfavorite', product_favorites_path(@product), method: :delete %>
    <% else %>
      <%= link_to 'favorite', product_favorites_path(@product), method: :post%>
    <% end %>
  <% end %>
<% end %>
<hr>
<h2>Write a Review</h2>
<%= @review.errors.full_messages.join(', ') %>
<%= form_for [@product, @review] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <br>
    <%= f.label :star_count, 'Number of Stars: ', class: 'star_label' %>
    <%= f.select :star_count, options_for_select(1..5) %>
  </div>
  <%= f.submit %>
<% end %>
<h2>Reviews</h2>
<% @product.reviews.each do |rev| %>
  Rating:
   <% rev.star_count.to_i.times do %>
   🌟
   <% end %>
   <% (5-rev.star_count.to_i).times do %>
   ☆
   <% end %>
 <br>
  by <%= rev.user.first_name %> <%= rev.user.last_name %>
  <br>
  <%= rev.body %>
  <br>
  <br>
  <% if user_signed_in? && can?(:destroy_review, rev) %>
    <%= link_to 'delete', review_path(rev),
                          method: :delete,
                          data: {confirm: 'Are you sure?'}%>
  <% end %>
  <% if user_signed_in? && can?(:like, rev) %>
    <% like = rev.like_for(current_user)  %>
    <% if like.present? %>
      <%= link_to 'unlike', like_path(like), method: :delete %>
    <% else %>
      <%= link_to 'like', review_likes_path(rev), method: :post%>
    <% end %>
  <% end %>

  <hr>
  <% end %>
